node_modules/
__pycache__/
*.pyc
**/.build/
ios-remote-client/PiRemoteClient.xcodeproj/
ios-remote-client/build/
ios-remote-client/App/Info.plist
ios-remote-client/Local.xcconfig
.iroh-connector-spike-key
.DS_Store
.pi-subagents/

target/
